doctype
html
    head
        link( rel='stylesheet', href='style.css')
        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
        script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        title= 'Create Card'
    body
        h3 Create New Card
        div
            button(class="btn btn-secondary", type="button")
                a(href="../") Home
                
            div(class="btn-group")
                button(class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") CAH
                ul(class="dropdown-menu")
                    li: a(href='../play') Play
                    li: a(href='../') Discusions
                    li: a(href='../create') New Card
                    li: a(href='../table') All Cards
        form(id='form', method='post', action='/create')
            label(for='colorType') Color Type
            br
            select(name='cardType', id='colorType')
                option(value='Black') Black
                option(value='White') White
            br
            label(for='msg') Text for card. Max 1000 characters
            br
            textarea(type='text', rows='10', cols='100' id='msg', name='msgText')
            br
            input(type='submit', value='Create')