doctype
html
    head
        link( rel='stylesheet', href='style.css')
        title= 'Create Card'
    body
        h3 Create New Card
        form(id='form', method='post', action='/create')
            label(for='ctype') Color Type
            br
            select(name='cardType', id='colorType')
                option(value='Black') Black
                option(value='White') White
            br
            label(for='msg') Text
            br
            textarea(type='text', rows='10', cols='100' id='msg', name='msgText')
            br
            input(type='submit', value='Update')