doctype
html
    head
        link( rel='stylesheet', href='/style.css')
        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
        script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        title= 'Edit Card'
    body
        div
            h1 Cards against Humanity
        div
            button(class="btn btn-secondary", type="button")
                a(href="../index") Home
                
            div(class="btn-group")
                button(class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") CAH
                ul(class="dropdown-menu")
                    li: a(href='../play') Play
                    li: a(href='../index') Discusions
                    li: a(href='../create') New Card
                    li: a(href='../table') All Cards
            button(class="btn btn-secondary")
                a(href="../login") login
            button(class="btn btn-secondary")
                a(href="../signUp") sign up
        h3 Edit Card: #{card.id}
        form(id='form', method='post', action='/edit/#{card.id}')
            label(for='msg') Text
            br
            textarea(type='text', rows='10', cols='100' id='msg', name='msgText') #{card.text}
            br
            input(type='submit', value='Edit')