doctype
html
    head
        link( rel='stylesheet', href='/style.css')
        title= 'Edit Card'
    body
        h3 Edit Card:
        form(id='form', method='post', action='/edit/#{person.id}')
            label(for='msg') Text
            br
            input(type='text', id='msg', name='msgType', value='#{card.text}')
            br
            input(type='submit', value='Update')