doctype
html
    head
        link( rel='stylesheet', href='style.css')
        title= 'HomePage'
    body
        h1 Cards against Humanity
        div
            a(class='button', href='../logout') Login
            a(class='button', href='../logout') Logout
            a(class='button', href='../logout') Logout
            a(class='button', href='../logout') Logout
