doctype
html
    head
        link( rel='stylesheet', href='style.css')
        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
        script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        title= 'HomePage'
    body
        div
            h1 Cards against Humanity
        div
            button(class="btn btn-secondary", type="button")
                a(href="../") Home
                
            div(class="btn-group")
                button(class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") CAH
                ul(class="dropdown-menu")
                    li: a(href='../play') Play
                    li: a(href='../') Discusions
                    li: a(href='../create') New Card
                    li: a(href='../table') All Cards
            button(class="btn btn-secondary")
                a(href="../login") login
            button(class="btn btn-secondary")
                a(href="../logout") logout
            button(class="btn btn-secondary")
                a(href="../signUp") sign up
        div
            a(class='button btn-warning', href='../login') Login
            
        div
            h1 PI to the hundredth digit after the decimal point:
            h3 #{PI}
