.ctable {
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: grey;
}

h1 {
    background-color: grey;
}

#data {
    background-color: white;
    color: black;
}

#footer {
    background-color: grey;
}

a {
    color: white
}